<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <fieldset class="form-group">
    <legend class="form-heading">Edit <%= resource_name.to_s.humanize %></legend>

    <%= devise_error_messages! %>

    <div class="form-item">
      <%= f.label :email, class: 'form-label' %>
      <%= f.email_field :email, autofocus: true, class: 'form-input is-block' %>
    </div>

    <div class="form-item">
      <%= f.label :firstname, class: 'form-label' %>
      <%= f.text_field :firstname, class: 'form-input is-block' %>
    </div>

    <div class="form-item">
      <%= f.label :lastname, class: 'form-label' %>
      <%= f.text_field :lastname, class: 'form-input is-block' %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-item">
      <%= f.label :password, class: 'form-label' do %>
      Password <em class="form-help">(leave blank if you don't want to change it)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "off", class: 'form-input is-block' %>
    </div>

    <div class="form-item">
      <%= f.label :password_confirmation, class: 'form-label' %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-input is-block' %>
    </div>

    <div class="form-item">
      <%= f.label :current_password, class: 'form-label' do %>
      Current password <em class="form-help">(we need your current password to confirm your changes)</em>
      <% end %>
      <%= f.password_field :current_password, autocomplete: "off", class: 'form-input is-block' %>
    </div>

    <div class="form-actions">
      <%= f.submit "Update", class: 'btn is-primary is-block form-btn' %>
    </div>
  </fieldset>
<% end %>
<fieldset class="form-group">
  <legend class="form-heading">Cancel my account</legend>

  <div class="form-item">
    <label class="form-label">Unhappy?</label>
    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn is-primary is-block form-btn' %>
  </div>
</fieldset>
<div class="form-links">
  <%= link_to "Back", :back %>
</div>
