<table>
  <thead>
    <tr>
      <th>Cluster</th>
      <th>Shared with</th>
      <th>Share with</th>
      <th></th>
      <th>Default?</th>
      <th>Make owner</th>
      <th></th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @userclusters.each do |usercluster|
      @currentcluster = usercluster.cluster
      @sharedWith = @otherusers.where("id in (?)", @currentcluster.users.collect{|u| u.id})
      @notSharedWith = @otherusers.where.not("id in (?)", @currentcluster.users.collect{|u| u.id}) %>
        <tr id="cluster<%= @currentcluster.id %>"<% if usercluster.default %> style="font-weight: bold;"<% end %>>
          <td><%= @currentcluster.name %></td>
          <td>
            <ul>
              <% @sharedWith.order(:firstname).each do |sharedWith| %>
                <li><%= sharedWith.fullname_with_email %></li>
              <% end %>
            </ul>
          </td>
          <% if @currentcluster.owner == current_user && @notSharedWith.count > 0 %>
            <%= form_for ClusterUser.new do |f| %>
              <%= f.hidden_field :cluster, :value => @currentcluster.id, :id => 'clusterId' %>
              <%= content_tag :td, f.collection_select(:user, @notSharedWith, :id, :fullname_with_email, { prompt: 'Share with' }) %>
              <td><%= f.submit 'Share' %></td>
            <% end %>
          <% else %>
            <td colspan="2"></td>
          <% end %>
        <td>
          <input type="radio" name="defaultCluster" value="<%= usercluster.cluster.id %>"<% if usercluster.default %> checked="checked"<% end %> onchange="makeDefaultCluster(this);">
        </td>
        <% if @currentcluster.owner == current_user && @sharedWith.count > 0 %>
          <%= form_for @currentcluster do |f| %>
            <%= content_tag :td, f.collection_select(:owner, @sharedWith, :id, :fullname_with_email, { prompt: 'Select new owner' }) %>
            <td><%= f.submit 'Change owner' %></td>
          <% end %>
        <% else %>
          <td colspan="2"></td>
        <% end %>
        <td>
          <% if @currentcluster.owner == current_user %><%= button_to 'Delete', cluster_users_path(:id => usercluster.id), :method => :delete %><% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_for Cluster.new do |f| %><%= f.text_field :name %><%= f.submit 'Add new cluster' %><% end %>
