<%= form_for @activity, :html => { :id => 'activity_form' }, remote: true do |f| %>

  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :location %>
  <div>
    <%= f.label 'Activity type' %>
    <%= f.collection_select :activity_type_id, ActivityType.order(:name), :id, :name, {include_blank: true}, {class: 'form-field', onchange: 'javascript:changeIcon();'} %>
  </div>
  <div>
    <%= f.label 'Start date' %>
    <%= f.text_field :startDate %>
  </div>
  <div>
    <%= f.label 'Host' %>
    <%= f.text_field :hostedBy %>
  </div>
  <div>
    <%= f.label 'Participants' %>
    <%= f.select :participants, (0..20) %>
  </div>
    <%= f.label 'Comments:' %>
    <%= f.text_area :comments, cols: 60, rows: 7 %>
  <div>

  <%= f.submit disabled: true, id: 'submitButton' %>
  <%= button_tag 'Cancel', :type => 'reset', :onclick => 'javascript:cancelActivity();' %>
<% end %>
