<%= form_for @activity, remote: true do |f| %>
  <div>
    <%= f.label 'Host' %>
    <%= f.text_field :hostedBy %>
  </div>
  <div>
    <%= f.label 'Start date' %>
    <%= f.text_field :startDate %>
  </div>
  <div>
    <%= f.label 'Participants' %>
    <%= f.select :participants, (0..20) %>
  </div>
    <%= f.label 'Comments:' %>
    <%= f.text_area :comments, cols: 60, rows: 7 %>
  <div>

  <%= f.submit 'Update activity', id: 'submitButton' %>
<% end %>
