<div id="map"></div>
<div id="activities">
  <input type="checkbox" checked="true" onclick="toggleMarkers('childrenClasses')">Children's classes: <span id="childrenClassesCount"><%= @cc.count %></span><br />
  <input type="checkbox" checked="true" onclick="toggleMarkers('devotionalMeetings')">Devotional Meetings: <span id="devotionalMeetingsCount"><%= @dm.count %></span><br />
  <input type="checkbox" checked="true" onclick="toggleMarkers('juniorYouthGroups')">Junior Youth Groups: <span id="juniorYouthGroupsCount"><%= @jy.count %></span><br />
  <input type="checkbox" checked="true" onclick="toggleMarkers('studyCircles')">Study Circles: <span id="studyCirclesCount"><%= @sc.count %></span><br />
</div>

<div id="legend"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBH3gr943zfhEw8Q9QACFjzFZyzilYVSgs&callback=initMap" async defer></script>
<script>
function setActivities() {
  var activities = [];
  <% @activities.each do |activity| %>
    var newActivity = { position: new google.maps.LatLng(<%= activity.latitude %>, <%= activity.longitude %>),
      type: '<%= activity.activity_type.icon %>',
      html: '<p>        <strong>Activity:</strong>        <%= activity.activity_type.name %>      </p><p>        <strong>Host:</strong>        <%= activity.hostedBy %>      </p>      <p>        <strong>Start date:</strong>        <%= activity.startDate %>      </p>      <p>        <strong>Participants:</strong>        <%= activity.participants %>      </p>      <p>        <strong>Comments:</strong>        <%= activity.comments %>      </p>      <%= link_to "Edit", edit_activity_path(activity), :remote => true %>      <%= link_to "Delete", activity, method: "delete", data: { confirm: "Are you sure?" }, :remote => true %>',
      activityId: <%= activity.id %> };
    activities.push(newActivity);
  <% end %>
  return activities;
}
</script>
