<% @activityType = @activity.activity_type.name
@activityIcon = @activity.activity_type.icon %>

<div>
  <strong class="form-object">Activity:</strong>
  <%= @activityType %>
</div>

<div>
  <strong class="form-object">Host:</strong>
  <%= @activity.hostedBy %>
</div>

<% if @activityIcon != 'devotionalMeetings' %>
  <strong class="form-object">
  <% if @activityIcon == 'childrenClasses' %>
    Teacher(s):
  <% elsif @activityIcon == 'studyCircles' %>
    Tutor(s):
  <% else %>
    Animator(s):
  <% end %>
  </strong>
  <%= @activity.teacherTutorAnimator %>
<% end %>

<div>
  <strong class="form-object">Meets every:</strong>
  <% unless @activity.frequencyValue.nil? || @activity.frequencyUnit.nil? %>
    <%= @activity.frequencyValue %> <%= @activity.frequencyUnit.pluralize(@activity.frequencyValue) %>
  <% end %>
</div>

<div>
  <strong class="form-object">Participants:</strong>
  <%= @activity.participants %>
</div>

<% if @activityIcon == 'childrenClasses' || @activityIcon == 'studyCircles' || @activityIcon == 'juniorYouthGroups' %>
  <div>
    <strong class="form-object">
    <% if @activityIcon == 'childrenClasses' %>
      Age range:
    <% else %>
      Book:
    <% end %>
    </strong>
    <%= @activity.uniquefield %>
  </div>
<% end %>

<div>
  <strong class="form-object">Comments:</strong>
  <%= @activity.comments %>
</div>

<br />

<%= link_to 'Edit', edit_activity_path(@activity), :remote => true %><br />
<%= link_to 'Delete', @activity, method: "delete", data: { confirm: 'Are you sure?' }, :remote => true %>
