<% @activityType = @activity.activity_type.name
@activityIcon = @activity.activity_type.icon %>

<div>
  <strong>Activity:</strong>
  <%= @activityType %>
</div>

<div>
  <strong>Host:</strong>
  <%= @activity.hostedBy %>
</div>

<% if @activityIcon != 'devotionalMeetings' %>
  <% if @activityIcon == 'childrenClasses' %>
    <strong>Teacher(s):</strong>
  <% elsif @activityIcon == 'studyCircles' %>
    <strong>Tutor(s):</strong>
  <% else %>
    <strong>Animator(s):</strong>
  <% end %>
  <%= @activity.teacherTutorAnimator %>
<% end %>

<div>
  <strong>Meets every:</strong>
  <%= @activity.frequencyValue %> <%= @activity.frequencyUnit.pluralize(@activity.frequencyValue) %>
</div>

<div>
  <strong>Participants:</strong>
  <%= @activity.participants %>
</div>

<% if @activityIcon == 'childrenClasses' || @activityIcon == 'studyCircles' %>
  <div>
  <% if @activityIcon == 'childrenClasses' %>
    <strong>Age range:</strong>
  <% else %>
    <string>Book:</strong>
  <% end %>
  <%= @activity.uniquefield %>
  </div>
<% end %>

<div>
  <strong>Comments:</strong>
  <%= @activity.comments %>
</div>

<%= link_to 'Edit', edit_activity_path(@activity), :remote => true %>
<%= link_to 'Delete', @activity, method: "delete", data: { confirm: 'Are you sure?' }, :remote => true %>
