<!DOCTYPE html>
<html>
<head>
  <title>ClusterMaps</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in? %>
    <header class="site-header">
      <nav class="site-nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/clusters">Clusters</a></li>
          <li><%= link_to 'Profile', edit_user_registration_path %></li>
          <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
        </ul>
      </nav>
    </header>
  <% end %>


<%= yield %>

</body>
</html>
